.admin-name-wrapper {
  display: inline-block;
}
.no-data-wrapper {
  font-size: 12px;
  color: red;
  text-align: center;
  margin-top: 20px;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .admins-tutors-wrapper {
    margin-top: 15px;
    text-align: left;
    margin-left: 10px;
  }
  .admin-tutor-add-wrapper {
    margin-right: 10px;
    margin-top: 20px;
  }
  .admin-name-wrapper {
    min-width: 60%;
  }
  .no-data-wrapper {
    width: 96%;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .admins-tutors-wrapper {
    margin-top: 15px;
    text-align: left;
    margin-left: 10px;
  }
  .admin-tutor-add-wrapper {
    margin-right: 10px;
    margin-top: 15px;
  }
  .admin-name-wrapper {
    min-width: 60%;
  }
  .no-data-wrapper {
    width: 80%;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .admins-tutors-wrapper {
    margin-top: 15px;
    text-align: left;
    margin-left: 10px;
  }
  .admin-tutor-add-wrapper {
    margin-right: 10px;
    margin-top: 15px;
  }
  .admin-name-wrapper {
    min-width: 60%;
  }
  .no-data-wrapper {
    width: 86%;
  }
}
