/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .ad-wrapper {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .ad-wrapper {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .ad-wrapper {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
  }
}
