.App {
  height: 100%;
}
.App {
  display: flex;
}
.left-half, .right-half {
  display: flex;
  flex-direction: column;
}
.left-half {
  flex: 1;
  background-color: #8F8F8F;
}
.right-half {
  flex: 1;
}
.btn {
  text-transform: none;
}
.small-btn {
  font-size: 8px;
  text-transform: none;
}
