.content-wrapper {
  background-color: #FFF;
  float: left;
  margin-bottom: 30px;
}
.create-course-wrapper {
  margin: 0 auto;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .content-wrapper {
    width: 75%;
    min-height: 700px;
    margin-left: 1%;
    margin-top: 10px;
    /*border-radius: 10px;*/
  }
  .create-course-wrapper {
    width: 34%;
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait){
  .content-wrapper {
    width: 98%;
    min-height: 250px;
    margin-left: 1%;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .create-course-wrapper {
    width: 98%;
    margin-top: 5px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: landscape){
  .content-wrapper {
    width: 98%;
    min-height: 120px;
    margin-left: 1%;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .create-course-wrapper {
    width: 98%;
    margin-top: 5px;
  }
}
