.course-name-wrapper {
  display: inline-block;
}
.no-data-wrapper {
  color: #FF8000;
}
.no-courses-wrapper {
  text-align: center;
  color: red;
}

.no-data-wrapper, .no-courses-wrapper {
  font-size: 12px;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .course-name-wrapper {
    min-width: 50%;
    font-size: 16px;
  }
  .sections-wrapper {
    margin-left: 10%;
  }
  .section-row-text {
    display: inline-block;
    min-width: 40%;
  }
  .no-data-wrapper {
    min-height: 37px;
  }
  .no-courses-wrapper {
    margin-top: 50px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait){
  .course-name-wrapper {
    min-width: 30%;
  }
  .course-list-row-buttons {
    display: block;
    margin-left: 10%;
    margin-top: -15px;
  }
  .sections-wrapper {
    margin-left: 15%;
  }
  .section-row-text {
    display: inline-block;
    min-width: 85%;
  }
  .no-data-wrapper {
    min-height: 37px;
    margin-left: 5%;
  }
  .no-courses-wrapper {
    margin-top: 50px;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape){
  .course-name-wrapper {
    min-width: 30%;
  }
  .course-list-row-buttons {
    display: block;
    margin-left: 10%;
    margin-top: -15px;
  }
  .sections-wrapper {
    margin-left: 15%;
  }
  .section-row-text {
    display: inline-block;
    min-width: 45%;
  }
  .no-data-wrapper {
    min-height: 37px;
    margin-left: 5%;
  }
  .no-courses-wrapper {
    margin-top: 50px;
  }
}
