.wrapper-class {

}
.toolbar-class {
  background: #C6C6C8;
}
.editor-class {
  border: solid 0.5px #C6C6C8;
  color: #000;
}
.rdw-option-wrapper {
  padding: 0px;

}
.editor-error {
  color: red;
  font-size: 12px;
  text-transform:capitalize;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .wrapper-class {
    width: 95%;
    margin-top: 20px;
    margin-left: 12px;
  }
  .editor-class {
    min-height: 220px;
  }
  .rdw-option-wrapper {
    min-width: 20px;
    height: 20px;
  }
  .editor-error {
    margin-left: 10px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .wrapper-class {
    width: 95%;
    margin-top: 0px;
  }
  .editor-class {
    min-height: 50px;
    min-width: 103.5%;
  }
  .rdw-option-wrapper {
    min-width: 20px;
    height: 20px;
  }
  .editor-error {
    margin-left: 10px;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .wrapper-class {
    width: 95%;
    margin-top: 0px;
  }
  .editor-class {
    min-height: 50px;
    min-width: 103.5%;
  }
  .rdw-option-wrapper {
    min-width: 20px;
    height: 20px;
  }
  .editor-error {
    margin-left: 10px;
  }
}
