/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .gpt-ads {
    text-align: center;
    margin-top: 10px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .gpt-ads {
    text-align: center;
    margin-top: 5px;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .gpt-ads {
    text-align: center;
    margin-top: 5px;
  }
}
