.login-wrapper {
  background-color: #FFF;
  color: #03347D;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 10px;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .login-wrapper {
    width: 40%;
    margin-top: 100px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .login-wrapper {
    width: 80%;
    margin-top: 80px;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .login-wrapper {
    width: 80%;
    margin-top: 80px;
  }
}
