
/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .settings-sidebar {
    float: left;
    width: 20%;
    margin-left: 25px
  }
  .settings-right-side {
    float: right;
    width: 75%;
    margin-top: 15px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .settings-sidebar {
    width: 90%;
    margin-left: 5%;
  }
  .settings-right-side {
    width: 95%;
    margin-top: 15px;
    margin-left: 2%;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {

}
