.sidebar {
  background-color: #FFF;
  float: left;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .sidebar {
    width: 18%;
    min-height: 700px;
    margin-top: 10px;
    margin-left: 3%;
  }
  .sidebar-first-item {
    margin-top: 20px;
  }

}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .sidebar {
    width: 100%;
    margin-top: 10px;
  }
  .sidebar-first-item {
    margin-top: 20px;
  }
}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .sidebar {
    width: 100%;
    margin-top: 10px;
  }
  .sidebar-first-item {
    margin-top: 20px;
  }
}
