.top-menu {
  width: 100%;
  height: 60px;
  background-color: #FFF;
}
.top-menu span {
  display: inline-block;
}
.top-menu .logo-wrapper {
  margin-top: 4px;
}
.top-menu .username-login-button-wrapper {
  font-size: 14px;
}

.top-menu .logo-wrapper img {
  height: 40px;
}

/* Desktops, laptops, large tablets ----------- */
@media only screen
and (min-width : 769px) {
  .top-menu .logo-wrapper {
    float: left;
    margin-left: 40px;
  }
  .top-menu .username-login-button-wrapper {
    float: right;
    margin-right: 100px;
    line-height: 60px;
  }

  .top-menu .logo-wrapper img {
    width: 33px;
    margin-top: 6px;
  }
  .top-menu .logo-text-wrapper img {
    width: 150px;
    margin-top: 18px;
    margin-left: 0px;
  }
  .login-logout-button-wrapper {
    padding-left: 0px;
  }
}

/* phones and small tablets */
@media only screen
and (max-width : 768px)
and (orientation: portrait) {
  .top-menu .logo-img-text-wrapper {
    display: inline-block;
    width: 90%;
  }
  .top-menu .logo-wrapper {
    float: left;
    width: 35px;
    margin-left: 3%;
  }
  .top-menu .logo-text-wrapper {
    width: 150px;
    margin-left:0%;
    margin-top: 15px;
  }
  .top-menu .username-login-button-wrapper {
    margin-right: 0%;
    line-height: 50px;
    float: right;
    margin-top: -25px;
  }

  .top-menu .logo-wrapper img {
    width: 35px;
  }
  .top-menu .logo-text-wrapper img {
    width: 115px;
  }

}

@media only screen
and (max-width : 768px)
and (orientation: landscape) {
  .top-menu .logo-img-text-wrapper {
    display: inline-block;
    width: 50%;
  }
  .top-menu .logo-wrapper {
    float: left;
    width: 35px;
    margin-left: 3%;
    margin-top: 8px;
  }
  .top-menu .logo-text-wrapper {
    width: 150px;
    margin-left:0%;
    margin-top: 18px;
  }
  .top-menu .username-login-button-wrapper {
    float: right;
    margin-right: 0%;
    line-height: 50px;
  }

  .top-menu .logo-wrapper img {
    width: 35px;
  }
  .top-menu .logo-text-wrapper img {
    width: 125px;
  }
}
